<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title><%= gql_data.en_name %> - ihateani.me</title>
    <meta name="description" content="Channel Information of <%= gql_data.en_name %>">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- OpenGraph -->
    <meta property="og:title" content="<%= gql_data.en_name %>">
    <meta property="og:description" content="Channel Information of <%= gql_data.en_name %>">
    <meta property="og:url" content="https://vtuber.ihateani.me/">
    <meta property="og:site_name" content="ihateani.me API">
    <meta property="og:image" content="<%= gql_data.image %>">
    <meta property="og:type" content="website">
    <meta name="theme-color" content="#383838">

    <link rel="icon" type="image/png" href="/assets/favicon.png">
    <link rel="icon" href="/assets/favicon.ico">

    <!-- Preconnect -->
    <link rel="preconnect" href="https://i.ytimg.com">
    <link rel="preconnect" href="https://api.ihateani.me">
    <link rel="dns-prefetch" href="https://i.ytimg.com">
    <link rel="dns-prefetch" href="https://api.ihateani.me">

    <!-- Preload some CSS -->
    <style type="text/css">
        *,
        :after,
        :before {
            -webkit-box-sizing: border-box;
            box-sizing: border-box
        }

        :root {
            --bs-blue: #0d6efd;
            --bs-indigo: #6610f2;
            --bs-purple: #6f42c1;
            --bs-pink: #d63384;
            --bs-red: #dc3545;
            --bs-orange: #fd7e14;
            --bs-yellow: #ffc107;
            --bs-green: #198754;
            --bs-teal: #20c997;
            --bs-cyan: #0dcaf0;
            --bs-gray: #757575;
            --bs-gray-dark: #4f4f4f;
            --bs-primary: #1266f1;
            --bs-secondary: #b23cfd;
            --bs-success: #00b74a;
            --bs-info: #39c0ed;
            --bs-warning: #ffa900;
            --bs-danger: #f93154;
            --bs-light: #fbfbfb;
            --bs-dark: #262626;
            --bs-white: #fff;
            --bs-black: #000;
            --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
            --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
            --bs-gradient: linear-gradient(180deg, hsla(0, 0%, 100%, 0.15), hsla(0, 0%, 100%, 0))
        }

        :root {
            scroll-behavior: smooth
        }

        :root {
            --mdb-font-roboto: "Roboto", sans-serif
        }

        body {
            margin: 0;
            font-size: 1rem;
            font-weight: 400;
            background-color: #fff;
            -webkit-text-size-adjust: 100%;
            -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
        }

        body {
            font-family: var(--mdb-font-roboto);
            line-height: 1.6;
            color: #4f4f4f
        }

        .navbar {
            position: relative;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            padding-top: .5rem;
            padding-bottom: .5rem
        }

        .navbar,
        .navbar>.container,
        .navbar>.container-fluid,
        .navbar>.container-lg,
        .navbar>.container-md,
        .navbar>.container-sm,
        .navbar>.container-xl,
        .navbar>.container-xxl {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-box-pack: justify;
            -ms-flex-pack: justify;
            justify-content: space-between
        }

        .sticky-top {
            position: sticky;
            top: 0;
            z-index: 1020
        }

        .bg-dark {
            background-color: #262626 !important
        }

        .navbar {
            -webkit-box-shadow: 0 10px 20px 0 rgba(0, 0, 0, .05);
            box-shadow: 0 10px 20px 0 rgba(0, 0, 0, .05);
            padding-top: .5625rem
        }

        .container,
        .container-fluid,
        .container-lg,
        .container-md,
        .container-sm,
        .container-xl,
        .container-xxl {
            width: 100%;
            padding-right: var(--bs-gutter-x, .75rem);
            padding-left: var(--bs-gutter-x, .75rem);
            margin-right: auto;
            margin-left: auto
        }

        .navbar>.container,
        .navbar>.container-fluid,
        .navbar>.container-lg,
        .navbar>.container-md,
        .navbar>.container-sm,
        .navbar>.container-xl,
        .navbar>.container-xxl {
            -ms-flex-wrap: inherit;
            flex-wrap: inherit
        }

        a {
            color: #1266f1;
            text-decoration: underline
        }

        a {
            text-decoration: none
        }

        .navbar-brand {
            padding-top: .3rem;
            padding-bottom: .3rem;
            margin-right: 1rem;
            font-size: 1.25rem;
            text-decoration: none;
            white-space: nowrap
        }

        .navbar-brand {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center
        }

        .navbar-dark .navbar-brand,
        .navbar-dark .navbar-brand:focus,
        .navbar-dark .navbar-brand:hover {
            color: #fff
        }

        button {
            border-radius: 0
        }

        button,
        input,
        optgroup,
        select,
        textarea {
            margin: 0;
            font-family: inherit;
            font-size: inherit;
            line-height: inherit
        }

        button,
        select {
            text-transform: none
        }

        [type=button],
        [type=reset],
        [type=submit],
        button {
            -webkit-appearance: button
        }

        .navbar-toggler {
            padding: .25rem .75rem;
            font-size: 1.25rem;
            line-height: 1;
            background-color: transparent;
            border: 1px solid transparent;
            border-radius: .25rem;
            -webkit-transition: -webkit-box-shadow .15s ease-in-out;
            transition: -webkit-box-shadow .15s ease-in-out;
            transition: box-shadow .15s ease-in-out;
            transition: box-shadow .15s ease-in-out, -webkit-box-shadow .15s ease-in-out
        }

        .border {
            border: 1px solid #e0e0e0 !important
        }

        .border-2 {
            border-width: 2px !important
        }

        .navbar-toggler {
            border: 0
        }

        [type=button]:not(:disabled),
        [type=reset]:not(:disabled),
        [type=submit]:not(:disabled),
        button:not(:disabled) {
            cursor: pointer
        }

        .navbar-dark .navbar-toggler {
            color: hsla(0, 0%, 100%, .55);
            border-color: hsla(0, 0%, 100%, .1)
        }

        .navbar-dark .navbar-toggler,
        .navbar-light .navbar-toggler {
            border: 0
        }

        .navbar-collapse {
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            width: 100%
        }

        .justify-content-between {
            -webkit-box-pack: justify !important;
            -ms-flex-pack: justify !important;
            justify-content: space-between !important
        }

        .collapse:not(.show) {
            display: none
        }

        .mt-4 {
            margin-top: 1.5rem !important
        }

        .pb-4 {
            padding-bottom: 1.5rem !important
        }

        .text-center {
            text-align: center !important
        }

        .spinner-grow {
            display: inline-block;
            width: 2rem;
            height: 2rem;
            vertical-align: text-bottom;
            background-color: currentColor;
            border-radius: 50%;
            opacity: 0;
            -webkit-animation: spinner-grow .75s linear infinite;
            animation: spinner-grow .75s linear infinite
        }

        .text-white {
            color: #fff !important
        }

        .visually-hidden,
        .visually-hidden-focusable:not(:focus) {
            position: absolute !important;
            width: 1px !important;
            height: 1px !important;
            padding: 0 !important;
            margin: -1px !important;
            overflow: hidden !important;
            clip: rect(0, 0, 0, 0) !important;
            white-space: nowrap !important;
            border: 0 !important
        }

        p {
            margin-top: 0;
            margin-bottom: 1rem
        }

        .mt-2 {
            margin-top: .5rem !important
        }

        .fade {
            -webkit-transition: opacity .15s linear;
            transition: opacity .15s linear
        }

        .modal {
            position: fixed;
            top: 0;
            left: 0;
            z-index: 1050;
            display: none;
            width: 100%;
            height: 100%;
            overflow: hidden;
            outline: 0
        }

        .fade:not(.show) {
            opacity: 0
        }

        .text-muted {
            color: #757575 !important
        }

        hr {
            margin: 1rem 0;
            color: inherit;
            background-color: currentColor;
            border: 0;
            opacity: .25
        }

        hr:not([size]) {
            height: 1px
        }

        .p-3 {
            padding: 1rem !important
        }

        b,
        strong {
            font-weight: bolder
        }

        ;
    </style>
    <style type="text/css">
        .bg-darkgrey,
        .btn-darkgrey {
            background-color: #2a2d2f !important
        }

        .btn-darkgrey:active,
        .btn-darkgrey:focus,
        .btn-darkgrey:hover {
            background-color: #35383a !important
        }

        .text-darkgrey {
            color: #2a2d2f !important
        }

        .text-twitch {
            color: #8e42fe !important
        }

        .text-twcast {
            color: #027af8 !important
        }

        .text-bili2 {
            color: #00a1d6 !important
        }

        .text-mildom {
            color: #38cce3 !important
        }

        .border-twitch {
            border-color: #8e42fe !important
        }

        .border-twcast {
            border-color: #027af8 !important
        }

        .border-bili2 {
            border-color: #00a1d6 !important
        }

        .border-mildom {
            border-color: #38cce3 !important
        }

        .floating-btn {
            position: fixed;
            width: 60px;
            height: 60px;
            bottom: 40px;
            right: 40px;
            background-color: #c50909;
            color: #fff;
            border-radius: 50px;
            text-align: center;
            box-shadow: 0 0 5px 0 #2a2d2f;
            border-color: transparent;
            z-index: 999
        }
    </style>

    <!-- CSS Preloading -->
    <link rel="preload" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" as="style"
        onload="this.onload=null;this.rel='stylesheet'">
    <link rel="preload" href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.0.0/mdb.min.css" as="style"
        onload="this.onload=null;this.rel='stylesheet'">
    <link rel="preload" href="/assets/css/ihaiconsv2.3.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <!-- Fallback -->
    <noscript>
        <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
        <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.0.0/mdb.min.css" rel="stylesheet" />
        <link href="/assets/css/ihaiconsv2.3.css" rel="stylesheet">
    </noscript>
    <style type="text/css">
        .bg-darkgrey,
        .btn-darkgrey {
            background-color: #2a2d2f !important
        }

        .btn-darkgrey:active,
        .btn-darkgrey:focus,
        .btn-darkgrey:hover {
            background-color: #35383a !important
        }

        .text-darkgrey {
            color: #2a2d2f !important
        }

        .text-twitch {
            color: #8e42fe !important
        }

        .text-twcast {
            color: #027af8 !important
        }

        .text-bili2 {
            color: #00a1d6 !important
        }

        .text-mildom {
            color: #38cce3 !important
        }

        .border-twitch {
            border-color: #8e42fe !important
        }

        .border-twcast {
            border-color: #027af8 !important
        }

        .border-bili2 {
            border-color: #00a1d6 !important
        }

        .border-mildom {
            border-color: #38cce3 !important
        }

        .floating-btn {
            position: fixed;
            width: 60px;
            height: 60px;
            bottom: 40px;
            right: 40px;
            background-color: #c50909;
            color: #fff;
            border-radius: 50px;
            text-align: center;
            box-shadow: 0 0 5px 0 #2a2d2f;
            border-color: transparent;
            z-index: 999
        }
    </style>
    <style type="text/css">
        ::-webkit-scrollbar {
            width: 6px;
            height: 6px
        }

        ::-webkit-scrollbar-button {
            width: 0;
            height: 0
        }

        ::-webkit-scrollbar-thumb {
            background: #4d4d4d;
            border: 3px none grey;
            border-radius: 50px
        }

        ::-webkit-scrollbar-thumb:hover {
            background: #7a7a7a
        }

        ::-webkit-scrollbar-thumb:active {
            background: #2e2e2e
        }

        ::-webkit-scrollbar-track {
            background: #707070;
            border: 0 none #fff;
            border-radius: 100px
        }

        ::-webkit-scrollbar-track:hover {
            background: #666
        }

        ::-webkit-scrollbar-track:active {
            background: #666
        }

        ::-webkit-scrollbar-corner {
            background: 0 0
        }
    </style>
</head>

<body class="bg-darkgrey">
    <nav id="main-nav" class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">VTuber API</a>
            <button class="navbar-toggler border border-2" style="border-color: #525252 !important;" type="button"
                data-bs-toggle="collapse" data-bs-target="#navbarNavDarkDropdown" aria-controls="navbarNavDarkDropdown"
                aria-expanded="false" aria-label="Toggle navigation">
                <i class="ihaicon">menu</i>
            </button>
            <div class="collapse navbar-collapse justify-content-between" id="navbarNavDarkDropdown">
                <div class="navbar-nav">
                    <a class="nav-link" href="/">Home</a>
                    <a class="nav-link" href="/lives">Lives</a>
                    <a class="nav-link" href="/schedules">Schedule</a>
                    <a class="nav-link" href="/playground"><i class="ihaicon me-1">graphql_icon</i>Playground</a>
                </div>
                <div class="navbar-nav">
                    <a class="nav-link" href="/settings"><i class="ihaicon">settings</i></a>
                    <a class="nav-link" href="/admin"><i class="ihaicon">sign_in</i></a>
                </div>
            </div>
        </div>
    </nav>
    <div id="main" class="container-fluid mt-4 pb-4">
        <div class="container text-center">
            <img class="rounded-circle border border-2 <%= ring_color %>" src="<%= gql_data.image %>" height="200">
            <h2 class="text-white mt-3"><span class="ihaicon"><%= icon_name %></span><%= gql_data.en_name %></h2>
            <h5 class="text-muted"><%= gql_data.name %></h5>
            <h6 class="text-muted fw-light">Organization: <%= group_orgs %></h6>
            <div class="row">
                <div class="col-sm-6 text-white">
                    Subscribers: <span id="subs-count" class="fw-bolder">0</span>
                </div>
                <div class="col-sm-6 text-white">
                    Views: <span id="views-count" class="fw-bolder">0</span>
                </div>
            </div>
        </div>
        <hr class="container bg-white">
        <div class="container">
            <div class="row g-2">
                <div class="col-sm-6">
                    <p class="text-white">Subscribers</p>
                    <canvas id="subs-graph" height="200"></canvas>
                </div>
                <div class="col-sm-6">
                    <p class="text-white">Views</p>
                    <canvas id="views-graph" height="200"></canvas>
                </div>
            </div>
        </div>
    </div>
    <footer class="text-center text-lg-start text-muted">
        <hr>
        <div class="text-center p-3" class="bg-darkgrey">
            Created by <b>N4O#8868</b><br>
            © 2020-2021
            <a class="text-white" href="https://ihateani.me/">ihateani.me</a>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/axios@0.21.1/dist/axios.min.js"
        integrity="sha256-JLmknTdUZeZZ267LP9qB+/DT7tvxOOKctSKeUC2KT6E=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/animejs@3.2.1/lib/anime.min.js"
        integrity="sha256-XL2inqUJaslATFnHdJOi9GfQ60on8Wx1C2H8DYiN1xY=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.bundle.min.js"
        integrity="sha512-SuxO9djzjML6b9w9/I07IWnLnQhgyYVSpHZx0JV97kGBfTIsUYlWflyuW4ypnvhBrslz1yJ3R+S14fdCWmSmSA=="
        crossorigin="anonymous"></script>
    <script type="text/javascript">
        "use strict"

        const SEC = 1000;
        const RAW_DATA = "<%= JSON.stringify(gql_data) %>".replace(/&#34;/g, '"');
        const CHANNELDATA = JSON.parse(RAW_DATA);

        const viewsCounter = document.getElementById("views-count");
        const subsCounter = document.getElementById("subs-count");

        const SUBSCRIBERS = CHANNELDATA["statistics"]["subscriberCount"];
        const VIEWS = CHANNELDATA["statistics"]["viewCount"];
        const Floored = (x) => Math.round(Math.floor(x));

        if (typeof SUBSCRIBERS === "number") {
            anime({
                targets: "#subs-count",
                value: [0, SUBSCRIBERS],
                round: 1,
                duration: 7.5 * SEC,
                easing: "easeOutExpo",
                update: function (e) {
                    let numbers = SUBSCRIBERS * e.progress / 100;
                    subsCounter.textContent = Floored(numbers).toLocaleString();
                },
                finished: function () {
                    subsCounter.textContent = SUBSCRIBERS.toLocaleString();
                }
            });
        }
        if (typeof VIEWS === "number") {
            anime({
                targets: "#views-count",
                value: [0, VIEWS],
                round: 1,
                duration: 5 * SEC,
                easing: "easeOutExpo",
                update: function (e) {
                    let numbers = VIEWS * e.progress / 100;
                    viewsCounter.textContent = Floored(numbers).toLocaleString();
                },
                finished: function () {
                    viewsCounter.textContent = VIEWS.toLocaleString();
                }
            });
        }

        const subsGraph = new Chart("subs-graph", {
            type: "line",
            data: {
                labels: [],
                datasets: [{
                    backgroundColor: ["rgba(255, 0, 0, 0.3)"],
                    data: [],
                    borderColor: ["rgb(255, 0, 0)"],
                    label: "Subscribers",
                    fill: "start",
                    borderWidth: 1
                }]
            },
            options: {
                maintainAspectRatio: false,
                spanGaps: false,
                title: {
                    display: false
                },
                scales: {
                    xAxes: [{
                        ticks: {
                            autoSkip: false,
                            maxRotation: 0
                        }
                    }]
                },
                elements: {
                    line: {
                        tension: 0.4
                    }
                },
                legend: {
                    display: false
                }
            }
        });

        const viewsGraph = new Chart("views-graph", {
            type: "line",
            data: {
                labels: [],
                datasets: [{
                    backgroundColor: ["rgba(0, 0, 255, 0.3)"],
                    data: [],
                    borderColor: ["rgb(0, 0, 255)"],
                    label: "Views",
                    fill: "start",
                    borderWidth: 1
                }]
            },
            options: {
                maintainAspectRatio: false,
                spanGaps: false,
                title: {
                    display: false
                },
                scales: {
                    xAxes: [{
                        ticks: {
                            autoSkip: false,
                            maxRotation: 0
                        }
                    }]
                },
                elements: {
                    line: {
                        tension: 0.4
                    }
                },
                legend: {
                    display: false
                }
            }
        });

        axios.get("/api/history", {
            params: {
                "id": CHANNELDATA["id"],
                "platform": CHANNELDATA["platform"]
            }
        }).then((resp) => {
            let res = resp.data;
            if (res.code !== 200) {
                return;
            }
            let subsData = res.data.subs;
            let viewsData = res.data.views;

            let subsX = subsData.map(res => res.x);
            let subsY = subsData.map(res => res.y);

            subsGraph.data.labels = subsX;
            subsGraph.data.datasets[0].data = subsY;

            let viewsX = viewsData.map(res => res.x);
            let viewsY = viewsData.map(res => res.y);

            viewsGraph.data.labels = viewsX;
            viewsGraph.data.datasets[0].data = viewsY;

            console.info("[Graph] Updating...");
            subsGraph.update({
                duration: 2500,
                easing: "easeOutExpo" 
            });
            viewsGraph.update({
                duration: 2500,
                easing: "easeOutExpo" 
            });
        });
    </script>
</body>

</html>